<div class="container" style="height: auto;" xmlns="http://www.w3.org/1999/html">
    <div class="profile-text" style="">
        My Orders
    </div>
    <div class="container">
        <div class="row" id="zeroOrders" style="display: none;">
            <div class="row profile-text">
                <strong style="color: #000000;"> You have 0 new Orders. </strong>
            </div>
        </div>
        <div class="row" style="display: none;">
            <div class="col-md-5">
               <div id="zero-orders"> You have {{orders.length}} Orders </div>
                <div style="border: 1px solid #333; height: 450px;overflow: scroll;margin-top: 2em;">
                <ul>
                    <li class="inbox-item" style="height: 130px;list-style-type: none;margin-left:-0.8em;cursor: pointer;" ng-repeat="order in orders">
                        <a style="width: auto;" ng-click="populateIndividualOrder(order.position);">
                            <div class="site-icon favicon" title="Orders"></div>
                            <div class="item-content row" style="border-bottom: 1px solid #333;margin-top: 0.4em;background-color:#ecf0f1;" id="order-link">
                                <div class="col-md-4">
                                    <div class="thumbnail-product">
                                        <img src={{order.product_image_url}} class="thumbnail-product">
                                    </div>
                                    <strong class="item-product-code" style="margin-left: -0.1em;">{{order.id}}</strong>
                                </div>

                                <div class="col-md-8 col-md-push-1">
                                    <div class="item-header" style="width: auto;">


                                    </div>
                                    <div class="item-contact-details">
                                        {{order.product_name}}
                                    </div>
                                    <div style="color: #333;;">
                                        <span style="color:#c52d2f;font-weight: 600;font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;">Customer Details</span>
                                    <div>
                                        {{order.customer_name}}
                                    </div>
                                    <div>
                                        {{order.customer_contact}}
                                    </div>
                                    <div  style="width: auto;">
                                        <p>
                                            {{order.rent}} &nbsp; {{order.duration}}
                                        </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <br>
                        <br>
                    </li>

                    <hr>
                </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-push-2"  style="border:1px solid lightgrey;">
            <div style="height: auto;width:auto;">
                <center>
                <img src={{individualOrder.product_image_url}} style="height:200px;width:250px;border:1px solid #ffffff">
                </center>
            </div>
                <div>
                <hr>
                <p><b>Order Id :</b> {{individualOrder.id}}</p>
                <p><b>Product Code :</b> {{individualOrder.product_code}}</p>
                <p><b>Product Name :</b> {{individualOrder.product_name}}</p>
                <p><span><b> Rent : </b>{{individualOrder.rent}}</span>&nbsp;<span><b>Duration :</b> {{individualOrder.duration}}</span> </p>
                <p><b>Starting date : </b>{{individualOrder.starting_date}}</p>
                <hr>
                <p style="color:#c52d2f;font-weight: 800;font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;">Customer Details </p>
                <p><b>Name : </b>{{individualOrder.customer_name}}</p>
                <p><b>Phone No :</b>{{individualOrder.customer_contact}}</p>
                <p><b>Email :</b>{{individualOrder.customer_email}}</p>
                <p><b>Address : </b>{{individualOrder.customer_address}}</p>
                <p><b>City : </b>{{individualOrder.customer_city}}</p>
                <p><b>State :</b> {{individualOrder.customer_state}}</p>
                <p><span><b>National Id Type : </b>{{individualOrder.customer_national_id_type}}</span> &nbsp;</p>
                <p><span><b>National Id No : </b>{{individualOrder.customer_national_id_no}}</span></p>
                </div>
            </div>
           <!-- <button ng-click="addOrder()">Add Order</button> -->
        </div>
    </div>
</div>



        <script type="text/javascript">
            $(document).ready(function(){
                $('#signup').hide();
                $('#forgot').hide();
                $('#btnSignin').addClass('active');


                $('#btnSignup').on('click', function(){
                    $('#signin').hide();
                    $('#forgot').hide();
                    $('div.modal-footer a').hide();
                    $('#signup').show();
                    $("[name = 'name']").focus();
                    $('#btnSignin').removeClass('active');

                });

                $('#btnSignin').on('click', function(){
                    $('#signup').hide();
                    $('#forgot').hide();
                    $('#signin').show();
                    $('#btnForgot').show();
                    $("[name = 'username']").focus();
                });
                $('#btnForgot').on('click', function(){
                    $('#signup').hide();
                    $('#signin').hide();
                    $('#forgot').show();
                    $("[name = 'forgotEmail']").focus();
                });
                $('#spinner').show();
                setTimeout(function(){
                    $('#spinner').hide();
                    $('#zeroOrders').fadeIn();
                },1000);
            });
        </script>