<div>
    <div>
        <button id="backButton">Back</button>
    </div>


 <div class="container" style="margin-left: 80px; margin-top: 50px;" id="store-menu">
     <div class="profile-text" style="margin-left: -2.5em;margin-top: -1.5em;">
        Store
     </div>
     <div class="row">
         <div class="col-md-4" style="height: 200px;">
             <div class="icon-box icon-horizontal icon-lg" id="addProductMenu">
                <div data-wow-delay=".1s" class="icon-content img-circle wow bounceInUp animated" style="visibility: visible; -webkit-animation-delay: 0.1s; background-color: #00a65a">
                <i class="fa fa-plus-square"></i>
                </div>
              </div>
         </div>
         <div class="col-md-3" style="margin-top : 4.5em; margin-left: 1.4em;"><strong id="hover-text-1" ></strong></div>
         <div class="col-md-4"  style="height: 200px;">
             <div class="icon-box icon-horizontal icon-lg" id="editProductMenu">
                <div data-wow-delay=".1s" class="icon-content img-circle wow bounceInUp animated" style="visibility: visible; -webkit-animation-delay: 0.1s;background-color: #98c7f1;">
                 <i class="fa fa-edit"></i>
                </div>
             </div>
         </div>
     </div>
     <div class="row" style="margin-top: 20px;">
         <div class="col-md-4"  style="height: 200px;">
             <div class="icon-box icon-horizontal icon-lg" id="ordersMenu">
                <div data-wow-delay=".1s" class="icon-content img-circle wow bounceInUp animated" style="visibility: visible; -webkit-animation-delay: 0.1s;background-color: #a498f1;">
                 <i class="fa fa-cubes"></i>
                </div>
             </div>
         </div>
         <div class="col-md-3" style="margin-top : 4em; margin-left: 1.7em;"><strong id="hover-text-2" ></strong></div>
         <div class="col-md-4"  style="height: 200px;">
             <div class="icon-box icon-horizontal icon-lg" id="salesMenu">
                <div data-wow-delay=".1s" class="icon-content img-circle wow bounceInUp animated" style="visibility: visible; -webkit-animation-delay: 0.1s;background-color: #f0ad4e;">
                 <i class="fa fa-line-chart"></i>
                </div>
             </div>
         </div>
     </div>
 </div>

 <div class="container" id="addProduct" ng-controller="productController">
     <div class="row profile-text">
         <strong style="text-decoration: underline">Add a Product</strong>
     </div>
     <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-11">
             <form id="productAdd" class="product-form" role="form" style="display:block;">

                 <div style="width: 50%;float:left;">

                     <div class="input-group">

                         <input type="text" class="form-control" placeholder="Product Name" ng-model="product.name"
                                title="Enter a Product Name" required>
                     </div>


                     <div class="input-group">

                         <input type="text" class="form-control" placeholder="Rent Amount" ng-model="product.rent"  title="Enter product rental price" required style="width:120px;"> &nbsp;
                         <select class="form-control" ng-model="product.duration" ng-options="duration.name for duration in durations" style="width: 120px;"> </select>
                     </div>

                     <div class="input-group" style="margin-bottom:10px;">

                         <input type="text" class="form-control" placeholder="Security Deposit"  ng-model="product.securityDeposit" title="Enter Security Deposit">
                     </div>

                     <div class="input-group" style="margin-bottom:10px;">

                         <textarea class="form-control" placeholder="Product Description"  ng-model="product.description" title="Enter Product description" style="height: 100px;" required></textarea>
                     </div>

                     <div class="input-group" style="margin-bottom:10px;">

                         <textarea class="form-control" placeholder="Additional Information"  ng-model="product.additional_information" title="Enter Additional Information" required></textarea>
                     </div>



                 </div>

                 <div style="width: 50%;float:right;">
                     <div class="input-group" style="margin-bottom:10px;">

                         <textarea class="form-control" placeholder="Shipping & Returns Information"  ng-model="product.shipping_returns" title="Enter Shipping & Returns Information" required></textarea>
                     </div>

                     <div class="input-group">

                         <select class="form-control" ng-model="product.category" ng-options="category.name for category in categories" style="width: 120px;" ng-change="change();"> </select> &nbsp;
                         <select class="form-control" ng-model="product.subCategory" ng-options="subCategory.name for subCategory in subCategories" style="width: 120px;"> </select>

                     </div>


                     <div class="input-group">

                         <input type="text" class="form-control" placeholder="Actual Price" ng-model="product.actualPrice"
                                title="Enter Actual Product Price" required>
                     </div>

                     <!--
                     <div class="input-group" style="width: 320px;">

                           <input type="text" class="form-control" placeholder="Vendor ID" ng-model="product.vendorId"  title="Your Vendor Id" style="width: 160px;" required> <strong>&nbsp;&nbsp;(Your Merchant Id)</strong>

                     </div>

                     <div class="input-group" style="margin-bottom:10px;">

                         <input type="file" class="form-control" placeholder="Product Image"  id="productPic" ng-model="product.imageName" title="Upload Image File" multiple>
                     </div>
                      -->
                     <div class="input-group">
                         <select class="form-control" ng-model="product.rating" ng-options="rating.name for rating in ratings"> </select> <br/><br/>
                         <select class="form-control" ng-model="product.status" ng-options="status.name for status in statuses"> </select>
                     </div>
                 </div>

                 <div class="input-group">
                     <button class="btn btn-lg btn-primary btn-block" ng-click="addProduct();" >Add product</button>
                 </div>


             </form>

             <button id="updateProductCode" ng-click="updateProductCode();" style="display: none;">Update Product Code</button>
         </div>
     </div>
 </div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <form id="imagesAdd" style="display: none;"  enctype = "multipart/form-data" action="/api/productPhoto" method="post">
                    <div style="margin-left: 13em; margin-top: 2em;">
                        <div class="row profile-text" style="margin-left: -19.5em;">
                            Upload Images
                        </div>
                        <div class="row">

                            <div class="input-group">
                                <input type="text" class="form-control" id="productName" ng-model="product.name" placeholder="Product Name"  title="Product Name" name="product[name]" style="width:400px;"/>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="productCode" ng-model="product.code" placeholder="Product Code" title="Product Code"  name="product[code]" style="width:400px;"/>
                            </div>

                            <div class="input-group" style="margin-bottom:10px;">
                                <input type="file" class="form-control" placeholder="Product Image"  id="productPic"  title="Upload Image File"  style="width:400px;" name="product" multiple>
                                <br> <p style="margin-left: 9.2em;"><strong>(Maximum 3 Images)</strong></p>
                                <p><b>Note</b> : If you Skip, the default product Image will be uploaded.</p>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 1em;">
                            <div class="col-md-3"><input type="button" id="skipUpload" class="btn btn-lg btn-primary btn-block" style="width:150px;" value="Skip" name="skip" ng-click="skip()"></div>
                            <div class="col-md-3"><input type="submit" id="uploadImages" class="btn btn-lg btn-primary btn-block" style="width:150px;" value="Upload" name="submit"></div>


                        </div>
                    </div>
                </form>
            </div>
        </div>

 </div>

 <div id="editProduct">
     <div class="container" style="height: 400px;padding: 125px;">
      List of all the products
     </div>

 </div>

    <div id="orders">
        <div class="container" style="height: 400px;padding: 125px;">
            List of all the orders
        </div>

    </div>
    <div id="sales">
        <div class="container" style="height: 400px;padding: 125px;">
            Sales report
        </div>

    </div>

</div>

<script type="text/javascript">
  //  $('.icon-content').on('mouseenter',function(){ $(this).closest('.icon-box').css('opacity', '0.9');});
  //  $('.icon-content').on('mouseleave',function(){ $(this).closest('.icon-box').css('opacity', '1');});

  $(document).ready(function(){

  var activeDiv = '';

  $('#addProduct').hide();
  $('#editProduct').hide();
  $('#orders').hide();
  $('#sales').hide();
  $('#backButton').hide();
  $('.icon-content').on('mouseenter',function(){
      currentColor = $(this).css('background-color');
      $(this).css('background-color', '#c52d2f').css('cursor', 'pointer');
      changeDivText(currentColor);
  }).on('mouseleave', function(){
      $(this).css('background-color', currentColor);
      $('#hover-text-1').text('');
      $('#hover-text-2').text('');
  });

   var changeDivText = function(currentColor){
        if(currentColor == "rgb(0, 166, 90)"){
           $('#hover-text-1').text('Add Product').css('color',currentColor);
        }
       else if(currentColor == "rgb(152, 199, 241)"){
           $('#hover-text-1').text('Edit Product').css('color',currentColor);
       }
       else if(currentColor == "rgb(164, 152, 241)"){
           $('#hover-text-2').text('Track Orders').css('color',currentColor);
       }
       else if(currentColor == "rgb(240, 173, 78)"){
           $('#hover-text-2').text('Track Sales').css('color',currentColor);
       }
       else{}
   };

  $('#addProductMenu').on('click',function(){ debugger;

        $('#store-menu').fadeOut();
        $('#addProduct').fadeIn();
      setTimeout(function(){
          $('#backButton').fadeIn();
      }, 1000);
      activeDiv = '#addProduct';

  });
  $('#editProductMenu').on('click',function(){ debugger;

      $('#store-menu').fadeOut();
      $('#editProduct').fadeIn();
      setTimeout(function(){
          $('#backButton').fadeIn();
      }, 1000);
      activeDiv = '#editProduct';

  });
  $('#ordersMenu').on('click',function(){ debugger;

      $('#store-menu').fadeOut();
      $('#orders').fadeIn();
      setTimeout(function(){
          $('#backButton').fadeIn();
      }, 1000);
      activeDiv = '#orders';

  });
  $('#salesMenu').on('click',function(){ debugger;

      $('#store-menu').fadeOut();
      $('#sales').fadeIn();
      setTimeout(function(){
          $('#backButton').fadeIn();
      }, 1000);
      activeDiv = '#sales';

  });

  $('#backButton').click(function(){
      $('#backButton').hide();
      $(activeDiv).fadeOut();
      $('#store-menu').fadeIn();

  });

      function validate(){
          $('#validateButton').click();
      };

  });
</script>